$background: rgb(244, 244, 244); 
$primary-color: #33318D;
$secondary-color: #E7315D;
$snow-white: #FCFCFC;

//fonts
$font-family: 'Roboto Mono';

//font-sizes
$h1: 1.75rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1.1rem;
$h5: 1rem;