@import "../../styles/variables";
@import "../../styles/mixins";

.game-question {
  margin: 0 auto;
  text-align: center;

  h2 {
    padding-top: 30px;
  }

  &__UI {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 420px;
    p {
      margin-top: 55px;
    }

    .button-flex {
      display: flex;
      margin-top: 40px;
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 380px;
      }
      .purple-button {
        border: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: $primary-color;
        color: $snow-white;
        width: 40px;
        height: 40px;
      }
    }
    .pink-button {
      @include button($secondary-color);
      width: 120px;
      margin: 25px auto;
      padding: 12px 4px;
    }
  }
}
