@import "../styles/variables";
@import "../styles/mixins";

.game-play {
  margin-left: 60px;
  &__content {
    margin-top: 70px;

    h3 {
      color: rgb(56, 56, 56);
      margin-top: 10px;
    }

    
  }
}
