@import "../styles/variables";
@import "../styles/mixins";

.game-creation {
  margin-left: 60px;
  &__content {
    margin-top: 70px;
    
    .question-list{
        width: 600px;
        margin: 0 auto;
        @include box-shadow;
        border-radius: 6px;
        h3{
            margin-top: 30px;
            margin-left: 10px;
            padding-top: 10px;
            font-weight: 600;
        }
        p{
            margin-top: 6px;
            margin-left: 10px;
            padding-bottom: 10px;
        }
    }
  }
}
